<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Talk to us</title>
  <!-- import CSS -->
  <link rel="stylesheet" href="{{url_for('static',filename='amazeui.min.css')}}">
  <style>
  .wb-title{
      padding: 0.5em 2em 0.3em;
      margin: 0;
  }
  .wb-message{
      margin: 0 1.2em 0;
      padding: 1em;
      overflow: auto;
  }
  .wb-textarea{
      width: 100%;
      margin-top: 1.2em;
      margin-bottom: 1.6em;
  }
  .wb-control{
      padding: 1.6em;
  }
  .wb-dialog{
      padding: 2em;
  }
  </style>
</head>
<body>
<header>
    <div class="am-g am-g-fixed" id="message_tltle">
        <div class="am-u-sm-10 am-u-sm-centered">
            <h1 class="wb-title">一起来畅所欲言吧~</h1>
        </div>
    </div>
</header>
<section>
    <div class="am-g am-g-fixed" id="message_panel">
        <div class="am-u-sm-10 am-u-sm-centered">
            <div class="am-panel am-panel-default wb-message" id="message_box">

                <div class="am-panel am-panel-default am-animation-slide-bottom" data-doc-animation="slide-bottom">
                    <div class="am-panel-hd">管理员</div>
                        <div class="am-panel-bd">欢迎来到Talk to us即时通信工具，在这里你可以向全网的朋友说悄悄话~</div>
                </div>


            </div>
        </div>
    </div>
</section>
<section>
    <div class="am-g am-g-fixed wb-control" id="control_panel">
        <div class="am-u-sm-10 am-u-sm-centered" >
            <div class="am-input-group">
                <span class="am-input-group-label">昵称</span>
                <input type="text" class="am-form-field" placeholder="Nickname" id="nickname">
            </div>
            <textarea class="wb-textarea" rows="4" id="message" maxlength="63000"></textarea>
            <button type="button" class="am-btn am-btn-success
                am-radius am-fr" onclick="sendMessage()">发送(Ctrl+Enter)
            </button>
        </div>
    </div>
</section>
<section>
    <div class="am-modal am-modal-no-btn" tabindex="-1" id="tip-modal">
        <div class="am-modal-dialog wb-dialog">
            <div class="am-modal-hd">提示
            </div>
            <div class="am-modal-bd">网络链接似乎已断开，请尝试重新接入</div>
            <button type="button" class="am-btn am-btn-danger
                am-radius" onclick="reload()">关闭</button>
        </div>
    </div>
</div>
</section>
</body>
  <!-- import Vue before Element -->
  <script src="{{url_for('static',filename='jquery-3.3.1.min.js')}}"></script>
  <!-- import JavaScript -->
  <script src="{{url_for('static',filename='amazeui.min.js')}}"></script>
  <script>
  document.onkeydown = function(e) {
        var keyCode = e.keyCode || e.which || e.charCode;
        var ctrlKey = e.ctrlKey || e.metaKey;
        if(ctrlKey && keyCode == 13) {
            sendMessage();
        }
    }
  function sendMessage(){
      nickname = $('#nickname').val();
      message = $('#message').val();
      if(nickname.length<1||message.length<1){
          return;
      }
      $.ajax({
          url: '/send',
          dataType: 'json',
          type:'post',
          data:{
              "nickname": nickname,
              "message": message
          },
          success:function(result){
              if(result.status=="success"){
                  //console.log('Send message complete.');
                  $('#message').val("");
              }else{
                  $('#tip-modal').modal();
              }
          }
      });
  }
  function recvTimer(){
      setInterval(recvMessage,1000);
  }
  recvTimer();
  function recvMessage(){
      $.ajax({
          url: '/recv',
          type:'get',
          success:function(result){
              //console.log(result);
              message_data = JSON.parse(result)
              if(message_data.status=="success"){
                  message_num = message_data.message_num;
                  for(i=0;i<message_num;i++){
                      message=message_data[i.toString()]
                      addMessage(message.nickname,
                          message.message,
                          message.nickname==$('#nickname').val()?
                            "am-panel-success":"am-panel-default"
                      )
                  }
              }else{
                  $('#tip-modal').modal();
              }
          }
      });
  }
  function addMessage(message_nick, message_text, message_class){
      $('#message_box').append(
          '<div class="am-panel '+message_class+' am-animation-fade">'
              +'<div class="am-panel-hd">'+message_nick+'</div>'
                  +'<div class="am-panel-bd">'+message_text+'</div>'
          +'</div>'
      );
      $('#message_box').smoothScroll({position: $('#message_box').height()});
  }
  function reload(){
      window.location="/"
  }
  function rebox(){
      $('#message_panel').css('height', $(window).height()
                -$('#control_panel').height()
                -$('#message_tltle').height()-50);
      $('#message_box').css('height', $('#message_panel').height());
  }
  rebox();
  $(window).resize(function () {
      rebox ();
  });
  </script>

</html>
